header {
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1250px;
    margin: auto;

    & div {
        flex-grow: 1;
    }

    & img.logotipo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .navbar-toggler,
    #navbarSupportedContent {
        z-index: 2;
    }

    nav {
        display: flex;
        flex-direction: row;
        flex-grow: 10;
        margin-top: 20px;
    }

    nav>ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
        justify-content: space-evenly;
    }
}